@import url(https://fonts.googleapis.com/css?family=Sevillana);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Anton);
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
html {
  font-size: 18px;
}

/* line 13, ../sass/style.scss */
.img, .el-right-image > img, .el-center-image > img, .el-thumb-image > img, .el-logo-image > img {
  width: 100%;
  height: auto;
}

/* line 18, ../sass/style.scss */
.slide {
  width: 100%;
  height: 100vh;
}

/* line 23, ../sass/style.scss */
.el-container {
  max-width: 65rem;
  margin: auto;
  padding-top: 25vh;
}
/* line 27, ../sass/style.scss */
.el-container:after {
  display: block;
  content: "";
  clear: both;
}

/* line 34, ../sass/style.scss */
.el-fullscreen-container, .el-image-container {
  padding-top: 5vh;
  max-width: 100%;
  height: 100%;
}

/* line 40, ../sass/style.scss */
.el-image-container {
  padding-top: 0;
  background-size: cover;
  background-position: center center;
  border: 0.5rem solid #ffffff;
}

/* line 48, ../sass/style.scss */
.el-object {
  max-width: 450px;
  float: left;
}

/* line 53, ../sass/style.scss */
.el-circle-object {
  width: 850px;
  height: 850px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 50%;
}

/* line 61, ../sass/style.scss */
.el-right-image {
  float: right;
}

/* line 68, ../sass/style.scss */
.el-center-image {
  max-width: 45rem;
  margin: auto;
  margin-top: 5rem;
}

/* line 77, ../sass/style.scss */
.el-text {
  padding-top: 3rem;
  font-family: "Sevillana", cursive;
  text-align: center;
}
/* line 81, ../sass/style.scss */
.el-text > .el-description {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
/* line 86, ../sass/style.scss */
.el-text > .el-tagline {
  font-family: "Alice", serif;
  font-size: 2rem;
  padding-top: 1rem;
}
/* line 91, ../sass/style.scss */
.el-text > .el-name {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}
/* line 95, ../sass/style.scss */
.el-text > .el-support-title {
  font-size: 5rem;
}
/* line 98, ../sass/style.scss */
.el-text > .el-heavy-text {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
}
/* line 102, ../sass/style.scss */
.el-text > .el-big-title {
  font-size: 10rem;
}

/* line 107, ../sass/style.scss */
.el-y-centre {
  margin-top: 35vh;
}

/* line 111, ../sass/style.scss */
.el-thumb-image {
  max-width: 5rem;
  margin: auto;
  padding-top: 10rem;
}

/* line 120, ../sass/style.scss */
.el-logo-image {
  max-width: 30rem;
  margin: auto;
  padding-top: 10vh;
}
