<div class="slide">
<div class="el-fullscreen-container" style="background-image:{{background_color}};">
	<div class="el-text">
		<p class="el-name">{{Title_of_slide}}</p>
	</div>
	<div class="el-center-image">
		<input type="hidden" value="{{Center_Image_tag}}">
		<img src="{{center_image_url}}">
	</div>
</div>
</div>
