<div class="slide">
	<div class="el-fullscreen-container" style="background-color:{{background_color}};">
		<div class="el-circle-object">
			<div class="el-thumb-image">
				<input type="hidden" value="{{thumb_image_tag}}">
				<img src="{{thumb_image_url}}">
			</div>
			<div class="el-text">
				<p class="el-name">{{Name}}</p>
				<p class="el-tagline" style="color:{{tagline_color}};">
				"{{One_ine_description}}"</p>
			</div>
		</div>
	</div>
</div>
