<div class="slide">
<input type="hidden" value="{{background_image_tag}}">
<div class="el-image-container" style="background-image:url('{{background_image_url}}');">
	<div class="el-text">
		<p class="el-heavy-text el-y-centre" style="color:{{text_color}}">
		{{Center_text}}</p>
	</div>
</div>
</div>
