<div class="slide">
<div class="el-fullscreen-container" style="background-color:{{background_color}};">
 	<div class="el-logo-image">
 		<img src="{{logo_image_url}}">
 	</div>
 	<div class="el-text">
 		<p class="el-description" style="color:{{text_color}}">
 		{{Name}}</p>
 	</div>
</div>
</div>
