<div class="slide" style="background-color:{{background_color}}">
<div class="el-container">
	<div class="el-object">
		<span class="el-text">
			<p class="el-big-title">{{Big_title}}</p>
			<p class="el-support-title">{{Supporting_text}}</p>
		</span>
	</div>
	<div class="el-object el-right-image">
		<input type="hidden" value="{{Right_side_image_tag}}">
		<img src="{{Right_side_image_url}}">
	</div>
</div>
</div>
