<template name="form">
	<div class="editor">
		<div class="form-container">
			<img class="menu-icon icon" src="/icons/menu.svg">
			<form class="form" id="slideform">
				<div class="accordion" id="slideData">
				</div>
				<div class="dotted-box">
					<span class="inside-dotted-box">
						<p>new slide</p>
						<img class="plus-icon icon" src="/icons/add.svg">
					</span>
				</div>
			</form>
		</div>

		<div class="slide-preview">
				{{>presentation}}
		</div>
	</div>
</template>
