<template name="index">
	<div class="login-page">
	{{#if currentUser}}
		<div class="welcome-container">
			<div class="circle">
			</div>
			<span class="greeting">
				<h3 class="wish">Welcome Back!</h3>
				<h5 class="name">{{username}}</h5>
			</span>
			<a class="primary-btn" href="/create">Create</a>
			<a href="/view">or go to dashboard</a>
		</div>
	{{else}}
		<div class="welcome-container">
			<div class="circle">
			</div>
			<h4 class="greeting">Namaste Human!</h4>
			<button type="button" class="btn-github">Sign in with github</button>
		</div>
	{{/if}}
	</div>
</template>
