<template name="presentation">
	<div class="presentation-container">
		<div id="presentation-slides">
		</div>
	</div>
</template>

<template name="presentationControls">
	<img class="prev-icon" src="/icons/prev.svg">
	<img class="next-icon" src="/icons/next.svg">
</template>
