html,
body,
video,
h1,
blockquote {
   margin: 0;
  padding: 0;
}

body{
	font-family:'Lato', sans-serif;
}


.slide {
  height: 100vh;
  float: left; 
}

#presentation-slides {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out; }

.presentation-container {
  width: 100%;
  height: 100vh;
  overflow: hidden; }


.accordion{
	width: 450px;
	margin:50px auto auto;
}

.big-letter{
	font-size:64px;
	text-align:center;
	text-transform:uppercase;
	font-weight:100;
	margin:40px;
}

.dotted-box{
	max-width: 450px;
	margin:20px;
	height: 50px;
	border: 1px dotted;
	margin: 10px auto auto;
}

.editor{
	width:100%;
}

.form-container{
	float:left;
	max-width:450px;
	margin:30px;
}

.slide-preview{
	background:#eee;
	overflow:hidden;
}

input[type=text]{
	width:90%;
	height:30px;
	margin-top:10px;
	border:1px solid #e3e3e3;
	text-indent: 5px;
}

input[type=text]:focus{
	border:1px solid #333;
}

.inside-dotted-box > img{
	width: 30px;
	margin-top: 10px;
	margin-left: 93%;
}

.inside-dotted-box > p{
	position: absolute;
	text-indent:10px;
	font-style: italic;
	color: #acacac;
}

.editor-title{
	font-weight:100;
	font-size:72px;
	color:#fde3a7;
	text-align:center;
}


.icon{
	cursor:pointer;
	width:18px;
	opacity:0.5;
	float:left;
	margin-top:3px;
}

.menu-icon{
	float:right;
}

.icon:hover{
	opacity:1;
}


#title-bar{
	background-color:#22313f;
}

.slide-title:active , .slide-title:focus{
	outline:none;
}

.theme{
	background-color:#ccc;
	width:200px;
	float:left;
	margin-left:50px;
	margin-bottom:50px;
	cursor:pointer;
}

.themename{
	text-align: center;
	background: #333;
	color: #fafafa;
	text-transform:capitalize;
	line-height: 2;
	font-size:24px;
	margin:0px;
}

#theme-selector{
	max-width:800px;
	margin:50px auto auto;
}

#theme-selector:after{
	content:"";
	display:block;
	clear:both;
}

.login-page{
	width:100%;
	height:100%;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
}
