@import url(https://fonts.googleapis.com/css?family=Sevillana);
@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Anton);

$cursive:'Sevillana', cursive;
$handwritten:'Sacramento', cursive;
$serif:'Alice', serif;
$sans-serif:'Josefin Sans', sans-serif;
$heavy:'Anton', sans-serif;
