@import 'compass/reset';
@import 'fonts.scss';
@import 'colors.scss';

*{
	box-sizing:border-box;
}

html{
	font-size:18px;
}

.img{
	width:100%;
	height:auto;
}

.slide{
	width:100%;
	height:100vh;
}

.el-container{
	max-width:65rem;
	margin:auto;
	padding-top:25vh;
	&:after{
		display:block;
		content:"";
		clear:both;
	}
}

.el-fullscreen-container{
	padding-top:5vh;
	max-width:100%;
	height:100%;
}

.el-image-container{
	@extend .el-fullscreen-container;
	padding-top:0;
	background-size:cover;
	background-position:center center;
	border:.5rem solid $snow-white;
}

.el-object{
	max-width:450px;
	float:left;
}

.el-circle-object{
	width:850px;
	height:850px;
	margin:auto;
	background-color:$snow-white;
	border-radius:50%;
}

.el-right-image{
	float:right;
	> img{
		@extend .img;
	}
}

.el-center-image{
	max-width:45rem;
	margin:auto;
	margin-top:5rem;
	> img{
		@extend .img;
	}
}

.el-text{
	padding-top:3rem;
	font-family:$cursive;
	text-align:center;
	> .el-description{
		font-family:$sans-serif;
		font-size:2rem;
		font-weight:300;
	}
	> .el-tagline{
		font-family:$serif;
		font-size:2rem;
		padding-top:1rem;
	}
	> .el-name{
		font-family:$handwritten;
		font-size:4rem;
	}
	> .el-support-title{
		font-size:5rem;
	}
	> .el-heavy-text{
		font-family:$heavy;
		font-size:5rem;
	}
	> .el-big-title{
		font-size:10rem;
	}
}

.el-y-centre{
	margin-top:35vh;
}

.el-thumb-image{
	max-width:5rem;
	margin:auto;
	padding-top:10rem;
	> img{
		@extend .img;
	}
}

.el-logo-image{
	max-width:30rem;
	margin:auto;
	padding-top:10vh;
	> img{
		@extend .img;
	}
}
