@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Griffy);

$black: #333;
$white: #fafafa;
$pure-black: #000;
$pure-white: #fff;
$sea-blue: #446CB3;

//fonts
$griffy: 'Griffy', cursive;
$dosis: 'Dosis', sans-serif;
$quote: 'Lobster', cursive;
$lato: 'Lato', sans-serif;

@mixin transition($effect) {
	-webkit-transition: $effect;
	-moz-transition: $effect;
	-o-transition: $effect;
	transition: $effect;
}
