@import 'reset';
@import 'config';

.slide{
	height:100vh;
	float:left;
}

#presentation-slides{
	position:relative;
	left:0px;
	@include transition(left .5s ease-in-out);
}

.presentation-container{
	width:100%;
	height:100vh;
	overflow:hidden;
}


.main-title{
	font-family:$griffy;
	font-weight:normal;
	font-size:72px;
}

.heading{
	font-family:$quote;
	font-weight:normal;
	font-size:32px;
	text-align:center;
	padding-top:80px;
	color:$black;
	margin:0;
}

.tagline{
	font-size:32px;
	letter-spacing:1.5px;
	font-family:$dosis;
}

.title-slide {
	> .title-content{
		padding-left:30%;
		padding-top:25%;
		text-align:center;
		color:$white;

		>.tagline{
			margin-top:-10px;
		}
	}
}

.center-content{
	padding-top:15%;
	max-width:400px;
	margin:auto;
}

.right-content{
	max-width:400px;
	margin-left:auto;
	margin-right:10%;
	padding-top:15%;
}

.quote{
	font-family:$quote;
	font-size:32px;
	color:$sea-blue;
}

.quote-slide{
	.writer{
		font-family:$dosis;
		font-size:20px;
	}
}

.personality-slide {
	> .right-content{
		max-width:350px;
		font-family:$lato;
		color:$white;
		p{	
			background-color:rgba(51,51,51,0.8);
			padding:10px;
		}
	
		>.name{ font-size:28px;}
		>.info{ font-size:20px; }
	}
}

.list-slide{
	li{
		font-family:$lato;
		font-size:24px;
		margin-bottom:40px;
	}
}
