@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Griffy);
html,
body,
video,
h1,
blockquote {
  margin: 0;
  padding: 0; }

.slide {
  height: 100vh;
  float: left; }

#presentation-slides {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out; }

.presentation-container {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.main-title {
  font-family: "Griffy", cursive;
  font-weight: normal;
  font-size: 72px; }

.heading {
  font-family: "Lobster", cursive;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  color: #333;
  margin: 0; }

.tagline {
  font-size: 32px;
  letter-spacing: 1.5px;
  font-family: "Dosis", sans-serif; }

.title-slide > .title-content {
  padding-left: 30%;
  padding-top: 25%;
  text-align: center;
  color: #fafafa; }
  .title-slide > .title-content > .tagline {
    margin-top: -10px; }

.center-content {
  padding-top: 15%;
  max-width: 400px;
  margin: auto; }

.right-content {
  max-width: 400px;
  margin-left: auto;
  margin-right: 10%;
  padding-top: 15%; }

.quote {
  font-family: "Lobster", cursive;
  font-size: 32px;
  color: #446CB3; }

.quote-slide .writer {
  font-family: "Dosis", sans-serif;
  font-size: 20px; }

.personality-slide > .right-content {
  max-width: 350px;
  font-family: "Lato", sans-serif;
  color: #fafafa; }
  .personality-slide > .right-content p {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px; }
  .personality-slide > .right-content > .name {
    font-size: 28px; }
  .personality-slide > .right-content > .info {
    font-size: 20px; }

.list-slide li {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
