<input type="hidden" value="{{bgImageTag}}">
<div class="slide list-slide"  style="background-image:url('{{bgImage}}'); background-size: cover; background-repeat:no-repeat; background-color:{{bgColor}}; background-position:center center;">
	<h2 class="heading">{{title}}</h2>
	<div class="center-content">
	<!-- {{listItems}} -->
	{{#if listStyleNumbered}}
	<ol class="list">
		{{#each listItems}}
		<li>{{this}}</li>
		{{/each}}
	</ol>
	{{else}}
	<ul class="list">
		{{#each listItems}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}
	</div>
</div>
