<input type="hidden" value="{{bgImageTag}}">
<div class="slide personality-slide"  style="background-image:url('{{bgImage}}'); background-size: cover; background-repeat:no-repeat; background-color:{{bgColor}}; background-position:center center;">
	<div class="right-content">
		<p class="name">{{name}}</p>
		<p class="info">{{info}}</p>
	</div>
</div>
