<input type="hidden" value="{{bgImageTag}}">
<div class="slide quote-slide"  style=" background-image:url('{{bgImage}}'); background-size: cover; background-repeat:no-repeat; background-color:{{bgColor}};background-position:center center; ">
	<div class="center-content">
		<blockquote class="quote">
			{{quote}}
		</blockquote>
		<div class="writer">— {{writer}}</div>
	</div>
</div>
