<input type="hidden" value="{{bgImageTag}}">
<div class="slide title-slide"  style="background-image:url('{{bgImage}}'); background-size: cover; background-repeat:no-repeat; background-color:{{bgColor}}; background-position:center center;">

	<div class="title-content">
	<h1 class="title main-title">{{title}}</h1>
	<p class="tagline">{{tagline}}</p>
	</div>
</div>
